@media screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: row;
  }
}
.video, .fallback-image {
  position: relative;
  margin-bottom: 20px;
}
video {
  border-top-right-radius: 190px;
  width: -webkit-fill-available;
  @media screen and (min-width: 768px) {
    border-top-right-radius: 290px;
  }
}
.video img, .fallback-image .logo {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 100px;
}
@media screen and (min-width: 768px) {
  .image-slider {
    width: 600px;
  }
}
@media screen and (min-width: 768px) {
  .description-container .sticky {
    width: 50%;
    margin: 30% auto 0;
  }
}
.description-container h1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.25em;
  text-align: left;
  @media screen and (min-width: 768px) {
    font-size: 35px;
  }
  text-transform: uppercase;
}
.description-container p {
  font-size: 14px;
  font-weight: 300;
  line-height: 19.12px;
  letter-spacing: 0.1em;
  text-align: left;
}
.description-container a {
  font-size: 15px;
  font-weight: 400;
  line-height: 20.49px;
  letter-spacing: 0.25em;
  text-align: left;
  text-transform: uppercase;
  text-decoration: underline;
}
.collection-wrapper {
  margin-top: 50px;
}
.collection-wrapper h2 {
  font-family: adorn-garland, Avenir, serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 42px;
  text-align: center;
  letter-spacing: normal;
}
.collection-wrapper h2 span {
  font-family: Avenir, serif;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 20px;
  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
}
.collection-wrapper .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.collection-wrapper .container .items {
  flex: 0 0 49%;
  margin-bottom: 1px;
  position: relative;
  @media screen and (min-width: 768px) {
    margin-bottom: 15px;
  }
}
.collection-wrapper .container img {
  width: 100%;
}
.description-container .sticky {
  position: sticky;
  top: 70px;
  background-color: #fff;
  padding: 10px;
  z-index: 0;
}
.product-name {
  position: absolute;
  font-size: 14px;
  font-weight: 900;
  left: 10px;
  letter-spacing: 0.25em;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
  bottom: 10px;
}
.fallback-image .default {
  border-top-right-radius: 190px;
  width: 600px;
  max-width: 100%;
  @media screen and (min-width: 768px) {
    border-top-right-radius: 290px;
  }
}

