<main class="browse">
  <div class="content" *ngIf="attributeData">
    <h2>Collections<br><span>by Heidi</span></h2>
    <section class="attributes" appTrackBy="attribute_code" #trackBy="appTrackBy">
      <ng-container *ngFor="let attribute of attributeData | async; trackBy: trackBy.trackByFn">
        <div>
          <a [routerLink]="['/collections/', formatUrl(attribute.label) | lowercase]" [queryParams]="{value: attribute.value}">
          <div class="logo">
            <img [src]="this.cdnUrl+'brands/heidi-hudson/media/'+formatUrl(attribute.label)+'/logo.svg'" alt="">
          </div>
          <img [src]="this.cdnUrl+'brands/heidi-hudson/media/'+formatUrl(attribute.label)+'/attribute-collection-banner.jpg'" [alt]="attribute.label"/>
          <span class="call-to-action-simple"  >View Collection</span>
          </a>
          <p class="attr-label">{{attribute.label}}</p>
        </div>
      </ng-container>
    </section>
  </div>
</main>
