/* You can add global styles to this file, and also import other style files */
/*
======================================================
  Global Styles
======================================================
*/
@import "https://use.typekit.net/jib3awe.css";
body {
  margin: 0;
  font-family: baskerville-display-pt, sans-serif;
  color: #524D49;
  letter-spacing: 0.10em;
  font-size: 14px;
}
body.home-page header {
  background: transparent;
}
body.home-page header svg path {
  fill: white;
}
body.home-page header .menu-list a {
  @media screen and (min-width: 768px) {
    color: white;
  }
}
header .menu-list a {
  @media screen and (max-width: 768px) {
    color: black;
  }
}
.navbar.navbar-top {
  background-color: white;
}
.navbar.navbar-top svg path, .navbar.open svg path {
  fill: black;
}
.navbar.navbar-top .menu-list a {
  color: black;
}
h1 {
}
nav ul li a.active-link {
  color: black;
  text-decoration: underline;
}
nav ul li a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: #524D49;
}
.content {
  display: flex;
  justify-content: space-around;
  max-width: 1345px;
  margin: 0 auto;
  flex-direction: column;
  padding: 0 40px;
}
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main {
  margin-top: 117px;
}
app-about {
  height: 1500px;
  @media screen and (min-width: 768px) {
    height: 1570px;
  }
}
.call-to-action {
  color: #000;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  background-color: #EDE9E5;
  padding: 20px 50px 16px;
  display: inline-block;
  @media screen and (min-width: 768px) {
    font-size: 20px;
    letter-spacing: 2px;
  }
}

.glide__arrow {
  border-color: transparent !important;
  padding: 12px !important;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}
.glide__arrow--right {
  border-bottom: 3px solid #292727 !important;
  border-left: 3px solid #292727 !important;
  content: "";
  transform: rotate(-135deg) !important;
  right: 25px !important;
}
.glide__arrow--left {
  border-bottom: 3px solid #292727 !important;
  border-left: 3px solid #292727 !important;
  content: "";
  transform: rotate(45deg) !important;
  left: 25px !important;
}
body .hasProduct .content {
  background: none;
}
body .hasProduct h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 33.98px;
  letter-spacing: 0em;
  text-align: center;
  font-family: adorn-garland, Avenir, serif;
  margin-top: 0;
  text-transform: capitalize;
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    margin-top: 42px;
  }
}
body .hasProduct .browse h2 span {
  opacity: 1;
  letter-spacing: 0.25em;
  font-size: 22px;
}
:not(.hasProduct) .browse h2 span {
  opacity: 0;
}
body .hasProduct section .logo img {
  display: none;
}
body .hasProduct section .call-to-action-simple {
  display: none;
}
body .hasProduct .browse > div {
  padding: 0 12px;
}
body .hasProduct .attributes .attr-label {
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.25em;
  text-align: left;
  text-transform: uppercase;
  margin-top: 0;
  display: block;
  @media screen and (min-width: 768px) {
    font-size: 24px;
    margin-top: 12px;
  }
}
@media screen and (min-width: 768px) {
  body :not(.hasProduct) .attributes {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  body :not(.hasProduct) .attributes {
    display: block;
  }
}
body .hasProduct .attributes {
  display: flex;
  flex-wrap: wrap;
}
